beautifulsoup4==4.8.1
certifi==2019.9.11
cftime==1.0.4.2
chardet==3.0.4
idna==2.8
lxml==4.6.2
mysql-connector-python-rf==2.2.2
netCDF4==1.5.3
numpy==1.17.4
protobuf==3.10.0
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
toml==0.10.0
urllib3==1.25.6
wincertstore==0.2
